figure
  img(src="/photos/thumbnail/" + photo.id + "." + photo.ext)
  figcaption
    span
      span.glyphicon.glyphicon-user
      = " "
      a(href="/users/" + photo.user.id) #{photo.user.name}
      if photo.sharers && photo.sharers.length !== 0
        |  (shared by
        = " "
        each sharer in photo.sharers
          a(href="/users/" + sharer.id) #{sharer.name}
          | #{$index === photo.sharers.length-1 ? "" : ", "}
        | )
    span.pull-right
      span.glyphicon.glyphicon-calendar
      = " "
      | #{photo.timeAgo()}
    button.btn.btn-xs.btn-success.share(type="button", data-photoid=photo.id) Share
