extends ../layout

block append nav-links
  li: a(href="/feed") Feed
  li: a(href="/photos/new") Upload

block append nav-right-links
  li: a(href="/logout") Logout

block append content
    each photo in photos
        img(src= 'http://127.0.0.1:9000/photos/thumbnail/' + photo.id + '.jpg')
        p
            |Uploaded by&nbsp;
            a(href="/users/#{user.id}", title:#{user.username}) #{user.username}
            |&nbsp; #{photo.timeAgo()}
     //a(href="/users/#{user.id}", title:#{user.username}) #{user.username}  #{photo.timeAgo()}
